<div class="col-12">
  <pre>
    <!-- Signal: {{shiftSignal()![0]}}; Disp: {{dispersions!}} -->
    shiftStore: {{shiftFromStore() | json}}
    <!-- Store: {{shiftStore() | json}} -->
    <!-- itemStore: {{itemStore() | json}} -->
    <!-- tableStore: {{tableFromStore() | json}} -->
  </pre>
  <p-table #dt2 [value]="shiftStore()" [columns]="itemStore()" [rows]="10"
    [paginator]="true" [tableStyle]="{'min-width': '60rem'}" [rowHover]="true"
    dataKey="id" sortField="dispersion_start" [sortOrder]="defaultSortOrder"
    [globalFilterFields]="['dispersion_start']">
    <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between">
        <h5 class="m-0">Szórások:</h5>
        <span class="flex flex-row">
          <input pInputText class="mr-3" type="text"
            (input)="dt2.filterGlobal($any($event.target).value, 'contains')"
            [placeholder]="Search" />
          <button (click)="addShift()" pButton pRipple icon="pi pi-plus"
            class="p-button-rounded p-button-success flex-shrink-0"></button>
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th pSortableColumn="date" style="width:8rem">Idő
          <p-sortIcon field="date"></p-sortIcon>
        </th>
        <th style="min-width:5rem">Dolgozó
        </th>
        <th style="min-width:5rem">Műszak
        </th>
        <th style="min-width:5rem">Gép
        </th>
        <!-- <th *ngFor="let szorasok of shiftSignal()">
          <span *ngFor="let szoras of szorasok.szortak">
            {{szoras.compound.name}}
          </span>

        </th> -->
        <th *ngFor="let anyagNev of columns">
          {{anyagNev.header}}
        </th>
        <th style="min-width:3rem">km
        </th>
        <th style="min-width:3rem">üzemóra
        </th>
        <th style="min-width:5rem">Elrendelt szórási mennyiség
        </th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr>
        <td>{{rowData.dispersion_start | date:'YYYY.MM.dd. hh:mm'}}</td>
        <td>{{rowData.man.name}}</td>
        <td>
          <span *ngIf="rowData.daytime">
            06:00-18:00
          </span>
          <span *ngIf="!rowData.daytime">
            18:00-06:00
          </span>
        </td>
        <td>{{rowData.car.licence_plate}}</td>
        <td *ngFor="let anyag of columns">
          <div class="div" *ngIf="anyag.field">
            {{rowData.szortak | json}}
          </div>
          <div class="div" *ngIf="anyag.value">
            {{anyag.value}}
          </div>
        </td>
        <td>{{rowData.km}}</td>
        <td>{{rowData.workHour}}</td>
        <td>{{rowData.ovs}}</td>
        <td>
          <button pButton pRipple icon="pi pi-trash"
            class="p-button-rounded p-button-danger"
            (click)="deleteShift(rowData)"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<div class="wait flex justify-content-center" *ngIf="!shiftSignal()">
  <p-progressSpinner [style]="{width: '50px', height: '50px'}"
    styleClass="custom-spinner" strokeWidth="8" fill="var(--surface-ground)"
    animationDuration=".5s">
  </p-progressSpinner>

</div>

<p-dialog [(visible)]="shiftDialog" [style]="shiftViewerStyle"
  header="Új bejegyzés" [modal]="true" styleClass="p-fluid">
  <app-shift-creator [journalId]="journalId"></app-shift-creator>
  <ng-template pTemplate="footer">
    <button pButton pRipple label="Mégse" icon="pi pi-times"
      class="p-button-text" (click)="hideDialog()"></button>
    <button pButton pRipple label="Mentés" icon="pi pi-check"
      class="p-button-text" (click)="saveShift()"></button>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>