<div class="col-12" *ngIf="shiftSignal()">
  <!-- <pre>
    Signal: {{shiftSignal()![0]}}; Disp: {{dispersions!}}
  </pre> -->
  <p-table #dt2 [value]="shiftSignal()!" [rows]="10" [paginator]="true"
    [tableStyle]="{'min-width': '60rem'}" [rowHover]="true" dataKey="id"
    sortField="dispersion_start" [sortOrder]="defaultSortOrder"
    [globalFilterFields]="['dispersion_start']">
    <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between">
        <h5 class="m-0">Szórások:</h5>
        <span class="flex flex-row">
          <input pInputText class="mr-3" type="text"
            (input)="dt2.filterGlobal($any($event.target).value, 'contains')"
            [placeholder]="Search" />
          <button (click)="addShift()" pButton pRipple icon="pi pi-plus"
            class="p-button-rounded p-button-success flex-shrink-0"></button>
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="date" style="width:8rem">Idő
          <p-sortIcon field="date"></p-sortIcon>
        </th>
        <th style="min-width:5rem">Dolgozó
        </th>
        <th style="min-width:5rem">Műszak
        </th>
        <th style="min-width:5rem">Gép
        </th>
        <th style="min-width:3rem">Só
        </th>
        <th style="min-width:3rem">Bazalt
        </th>
        <th style="min-width:3rem">CaCl2
        </th>
        <th style="min-width:3rem">Kalcinol
        </th>
        <th style="min-width:3rem">Keverék
        </th>
        <th style="min-width:3rem">Zeokal
        </th>
        <th style="min-width:3rem">km
        </th>
        <th style="min-width:3rem">üzemóra
        </th>
        <th style="min-width:5rem">Elrendelt szórási mennyiség
        </th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-shift>
      <tr>
        <td>{{shift.dispersion_start | date:'YYYY.MM.dd. hh:mm'}}</td>
        <td>{{shift.man}}</td>
        <td>
          <span *ngIf="shift.daytime">
            06:00-18:00
          </span>
          <span *ngIf="!shift.daytime">
            18:00-06:00
          </span>
        </td>
        <td>{{shift.car}}</td>
        <td>{{shift.salt}}</td>
        <td>{{shift.basalt}}</td>
        <td>{{shift.cacl2}}</td>
        <td>{{shift.kalcinol}}</td>
        <td>{{shift.mixture}}</td>
        <td>{{shift.zeokal}}</td>
        <td>{{shift.km}}</td>
        <td>{{shift.workHour}}</td>
        <td>{{shift.orderedQuantity}}</td>
        <td>
          <button pButton pRipple icon="pi pi-trash"
            class="p-button-rounded p-button-danger"
            (click)="deleteShift(shift)"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<div class="wait flex justify-content-center" *ngIf="!shiftSignal()">
  <p-progressSpinner [style]="{width: '50px', height: '50px'}"
    styleClass="custom-spinner" strokeWidth="8" fill="var(--surface-ground)"
    animationDuration=".5s">
  </p-progressSpinner>

</div>

<p-dialog [(visible)]="shiftDialog" [style]="shiftViewerStyle"
  header="Új bejegyzés" [modal]="true" styleClass="p-fluid">
  <app-shift-creator [journalId]="journalId"></app-shift-creator>
  <ng-template pTemplate="footer">
    <button pButton pRipple label="Mégse" icon="pi pi-times"
      class="p-button-text" (click)="hideDialog()"></button>
    <button pButton pRipple label="Mentés" icon="pi pi-check"
      class="p-button-text" (click)="saveShift()"></button>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>