<div class="" [formGroup]="userForm" [style]="{width: '400px', height: 'auto'}">
  <div class="p-field field col-12">
    <span class="p-float-label mt-3">
      <input pInputText id="first_name" type="text"
        formControlName="first_name" />
      <label for="first_name">Keresztnév</label>
    </span>
  </div>
  <div class="p-field field col-12">
    <span class="p-float-label">
      <input pInputText id="last_name" type="text"
        formControlName="last_name" />
      <label for="last_name">Vezetéknév</label>
    </span>
  </div>
  <div class="p-field field col-12">
    <span class="p-float-label">
      <input pInputText id="email" type="text" formControlName="email" />
      <label for="email">e-mail cím</label>
    </span>
  </div>
  <div class="p-field field col-12">
    <p-multiSelect formControlName="groups" id="groups" optionLabel="name"
      placeholder="Beosztás" [options]="groups" display="chip"></p-multiSelect>
  </div>
  <div class="p-field field col-12">
    <p-multiSelect formControlName="user_permissions" id="user_permissions"
      optionLabel="name" placeholder="Hozzáférés" [options]="permissions"
      display="chip"></p-multiSelect>
  </div>
  <div class="p-field field col-12">
    <span class="p-float-label flex justify-content-center">
      <p-inputSwitch id="is_active" formControlName="is_active">
      </p-inputSwitch>
      <label for="is_active">Belépés a programba</label>
    </span>

  </div>
  <div class="p-field field col-12" *ngIf="userForm.value.is_staff">
    <span class="p-float-label">
      <input pInputText id="username" type="text" formControlName="username" />
      <label for="username">felhasználónév</label>
    </span>
  </div>
  <div class="p-field field col-12" *ngIf="userForm.value.is_staff">
    <span class="p-float-label flex justify-content-center">
      <p-inputSwitch id="is_staff" formControlName="is_staff">
      </p-inputSwitch>
      <label for="is_staff">Adminisztrátor</label>
    </span>
  </div>

  <div class="field col-12">

  </div>
</div>