<p-toast></p-toast>

<!-- <pre>
  Signal: {{selectedJournal().date_start}}
</pre>
 -->

<div class="card col-12 p-fluid" [formGroup]="journalForm">
  <p-toolbar styleClass=" mb-4 gap-2">
    <ng-template pTemplate="left">
      <h4>Ügyeleti napló</h4>
    </ng-template>
    <ng-template pTemplate="right">
      <app-pdf-creator (click)="generatePDF()"></app-pdf-creator>

    </ng-template>

  </p-toolbar>
  <div class="col-12 p-fluid p-formgrid grid">
    <div class="workerDate grid col-12" *ngIf="editableWorker; else readWorker">
      <div class="field col-12 md:col-6">
        <p-dropdown [options]="users" optionLabel="last_name" [filter]="true"
          filterBy="last_name" [showClear]="true"
          placeholder="Válassz ügyeletvezetőt" formControlName="person_on_duty"
          (onChange)="workerSelected($event)">
          <ng-template pTemplate="selectedItem">
            <div class="worker-item worker-item-value" *ngIf="worker">
              <div>{{worker().last_name}} {{worker().first_name}}</div>
            </div>
          </ng-template>
          <ng-template let-worker pTemplate="item">
            <div class="worker-item">
              <div>{{worker.last_name}} {{worker.first_name}}</div>
            </div>
          </ng-template>
        </p-dropdown>
        <!-- <small>Jelenlegi: {{journal.worker.first_name}}
          {{journal.worker.last_name}}</small> -->
      </div>
      <div class="field col-12 md:col-6">
        <p-calendar *ngIf="!mobile" dateFormat="yy.MM.dd" [showIcon]="true"
          inputId="icon" formControlName="date_start"
          placeholder="Mai dátum, vagy válassz másikat">
        </p-calendar>
        <p-calendar *ngIf="mobile" dateFormat="yy.MM.dd" [showIcon]="true"
          inputId="icon" formControlName="date_start" [touchUI]="true"
          [readonlyInput]="true" placeholder="Mai dátum, vagy válassz másikat">
        </p-calendar>
        <small>Jelenlegi: {{selectedJournal().date_start}}</small>
      </div>

    </div>

    <ng-template #readWorker>
      <div class="field col-12 md:col-5">
        <input pInputText id="worker" type="text"
          placeholder="{{selectedJournal().person_on_duty?.name}}" disabled />
      </div>
      <div class="field col-12 md:col-5">
        <input pInputText id="date" type="text"
          placeholder="{{selectedJournal().date_start | date:'YYYY.MM.dd. hh:mm:ss'}}"
          disabled />
      </div>
      <div class="col-12 md:col-2">
        <p-button (onClick)="editWorkerDate()" class="block"
          icon="pi pi-user-edit" iconPos="left">
        </p-button>
      </div>
    </ng-template>

    <div class="field col-12">
      <span class="p-float-label">
        <textarea pInputTextarea id="comment" rows="3"
          formControlName="comment"></textarea>
        <label for="comment">Megjegyzések</label>
      </span>
    </div>
    <div class="field col-12">
      <label for="comment">Korábbi megjegyzések:</label>
      <div class="comments" *ngFor="let comment of selectedJournal().comments">
        <div *ngIf="selectedJournal().comments!.length > 0">
          <!-- <div *ngIf="comment === selectedJournal().comments![0]"></div> -->
          <!-- <div *ngIf="comment !== selectedJournal().comments![0]"> -->
          <!-- <p>{{comment.id}}: {{comment.comment}}</p> -->
          <p>- {{comment}}</p>
          <!-- </div> -->
        </div>
        <div *ngIf="selectedJournal().comments!.length < 1">
          <p>-</p>
        </div>
      </div>
    </div>
  </div>

  <div class="validData col-12" *ngIf="selectedJournal().monitor">
    <p-table #dt [value]="selectedJournal().monitor!" [rows]="10"
      [paginator]="false" [tableStyle]="{'min-width': '60rem'}"
      [rowHover]="true" dataKey="id" sortField="id"
      [sortOrder]="defaultSortOrder">
      <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
          <h5 class="m-0">Ellenőrzések:</h5>
          <span *ngIf="!canAddCheck">
            <button (click)="addCheck()" pButton pRipple icon="pi pi-plus"
              class="p-button-rounded p-button-success"></button>
          </span>
          <span *ngIf="canAddCheck">
            <button (click)="addCheck()" pButton pRipple icon="pi pi-minus"
              class="p-button-rounded p-button-success"></button>
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="id" style="width:8rem">Időpont
            <p-sortIcon field="id"></p-sortIcon>
          </th>
          <th style="min-width:5rem">Hőmérséklet
          </th>
          <th style="min-width:5rem">Csapadék
          </th>
          <th style="min-width:5rem">Égbolt
          </th>
          <th style="min-width:5rem">Látási viszonyok
          </th>
          <th style="min-width:5rem">Utak felülete
          </th>
        </tr>
        <tr *ngIf="canAddCheck" formGroupName="monitor">
          <td> <span class="">
              <!-- <input pInputText id="checking" type="text"
                formControlName="checking" /> -->
              <p-calendar id="start_time" formControlName="start_time"
                appendTo="body" [timeOnly]="true" [showTime]="true"
                [showButtonBar]="true">
              </p-calendar>
            </span></td>
          <td><span class="">
              <!-- <input pInputText id="temperature"
                formControlName="temperature" /> -->
              <p-inputNumber id="temperature" formControlName="temperature"
                [minFractionDigits]="2" suffix="℃"></p-inputNumber>
            </span></td>
          <td><span class="">
              <input pInputText id="percipitation"
                formControlName="percipitation" />
            </span></td>
          <td><span class="">
              <input pInputText id="sky" formControlName="sky" />
            </span></td>
          <td><span class="">
              <input pInputText id="visibility" formControlName="visibility" />
            </span></td>
          <td><span class="">
              <input pInputText id="roads" formControlName="roads" />
            </span></td>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-checksArr>
        <tr>
          <td>{{checksArr.start_time | date:'hh:mm'}}</td>
          <td>{{checksArr.temperature}}</td>
          <td>{{checksArr.percipitation}}</td>
          <td>{{checksArr.sky}}</td>
          <td>{{checksArr.visibility}}</td>
          <td>{{checksArr.roads}}</td>
        </tr>
      </ng-template>
    </p-table>

  </div>
  <div class="shifts mt-5">
    <!-- <h5>Ügyelet</h5> -->
    <!-- <app-shift-viewer [shiftsArr]="journal.shifts"></app-shift-viewer> -->
    <app-shift-viewer>
    </app-shift-viewer>
  </div>
  <p-dialog [(visible)]="shiftDialog"
    [style]="{width: '600px', height: '547px'}" header="Ügyeleti napló"
    [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="footer">
      <button pButton pRipple label="Mégse" icon="pi pi-times"
        class="p-button-text" (click)="hideDialog()"></button>
      <button pButton pRipple label="Mentés" icon="pi pi-check"
        class="p-button-text" (click)="saveShift()"></button>
    </ng-template>
    <app-shift-creator></app-shift-creator>
  </p-dialog>

  <button pButton class="mt-5" label="Rögzítés" (click)="buildForm()"></button>
</div>