<p-toast></p-toast>

<div class="card">
  <p-toolbar styleClass="mb-4 gap-2">
    <ng-template pTemplate="left">
      <button pButton pRipple [label]="NewJournal" icon="pi pi-plus"
        class="p-button-success mr-2" (click)="openNew()"></button>
      <button pButton pRipple [label]="Delete" icon="pi pi-trash"
        class="p-button-danger"
        (click)="deleteSelectedJournals(selectedJournals)"
        [disabled]="!selectedJournals || !selectedJournals.length"></button>
    </ng-template>

    <ng-template pTemplate="right">
      <button pButton pRipple [label]="NewWorker" icon="pi pi-plus"
        class="p-button-warning mr-2" (click)="openNew()"></button>
      <!-- <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000"
        label="Import" [chooseLabel]="Import" class="mr-2 inline-block">
      </p-fileUpload> -->
      <button pButton pRipple [label]="Export" icon="pi pi-upload"
        class="p-button-help"></button>
    </ng-template>
  </p-toolbar>

  <div class="asnyDiv" *ngIf="journals$ | async as journalsArr">
    <p-table #dt [value]="journalsArr" [rows]="10" [paginator]="true"
      [globalFilterFields]="['date', 'comment', 'worker']"
      [tableStyle]="{'min-width': '75rem'}" [(selection)]="selectedJournals"
      [rowHover]="true" dataKey="_id"
      currentPageReportTemplate="Showing {last} to {first} of {totalRecords} entries"
      [showCurrentPageReport]="true">
      <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
          <h5 class="m-0">Naplók kezelése</h5>
          <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input pInputText type="text"
              (input)="dt.filterGlobal($event.target, 'contains')"
              [placeholder]="Search" />
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 4rem">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th pSortableColumn="date" style="min-width:15rem">Dátum <p-sortIcon
              field="date"></p-sortIcon>
          </th>
          <th pSortableColumn="comment" style="min-width:10rem">Megjegyzés
            <p-sortIcon field="comment"></p-sortIcon>
          </th>
          <th pSortableColumn="worker" style="min-width:10rem">Dolgozó
            <p-sortIcon field="worker"></p-sortIcon>
          </th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-journal>
        <tr>
          <td>
            <p-tableCheckbox [value]="journal"></p-tableCheckbox>
          </td>
          <td>{{journal.date}}</td>
          <td>{{journal.comment[journal.comment.length - 1]}}</td>
          <td>{{journal.worker.full_name}}</td>
          <td>
            <button pButton pRipple icon="pi pi-pencil"
              class="p-button-rounded p-button-success mr-2"
              (click)="editJournal(journal)"></button>
            <button pButton pRipple icon="pi pi-trash"
              class="p-button-rounded p-button-warning"
              (click)="deleteJournal(journal._id, journal.date)"></button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        <div class="flex align-items-center justify-content-between">
          Összesen {{journalsArr ? journalsArr.length : 0 }}db napló lett
          rögzítve.
        </div>
      </ng-template>
    </p-table>
  </div>
</div>

<p-dialog [(visible)]="journalDialog" [style]="{width: '450px'}"
  header="journal Details" [modal]="true" styleClass="p-fluid">
  <ng-template pTemplate="content">
    <div class="field">
      <label for="_id">_id</label>
      <input type="text" pInputText id="_id" [(ngModel)]="journal._id" required
        autofocus />
      <small class="p-error" *ngIf="submitted && !journal._id">_id is
        required.</small>
    </div>
    <div class="field">
      <label for="worker">worker</label>
      <textarea id="worker" pInputTextarea [(ngModel)]="journal.worker" required
        rows="3" cols="20"></textarea>
    </div>


    <div class="field">
      <label class="mb-3">comment</label>
      <div class="formgrid grid">
        <div class="field-radiobutton col-6">
          <p-radioButton id="comment1" _id="comment" value="Accessories"
            [(ngModel)]="journal.comment"></p-radioButton>
          <label for="comment1">Accessories</label>
        </div>
      </div>
    </div>

    <div class="formgrid grid">
      <div class="field col">
        <label for="checks">checks</label>
        <p-inputNumber id="checks" [(ngModel)]="journal.checks">
        </p-inputNumber>
      </div>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times"
      class="p-button-text" (click)="hideDialog()"></button>
    <button pButton pRipple label="Save" icon="pi pi-check"
      class="p-button-text" (click)="savejournal()"></button>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>