<p-toast></p-toast>

<div class="card">
  <p-toolbar styleClass="mb-4 gap-2">
    <ng-template pTemplate="left">
      <button pButton pRipple [label]="NewCar" id="newCarDialog"
        icon="pi pi-plus" class="p-button-warning mr-2"
        (click)="openDialog($event)"></button>
    </ng-template>

    <ng-template pTemplate="right">
      <!-- <button pButton pRipple [label]="Delete" icon="pi pi-trash"
        class="p-button-danger mr-2"
        (click)="deleteSelectedJournals(selectedJournals)"
        [disabled]="!selectedJournals || !selectedJournals.length"></button> -->
    </ng-template>
  </p-toolbar>

  <div class="asyncDiv" *ngIf="carsSignal()">
    <p-table #dt1 [value]="carsSignal()" [rows]="10" [paginator]="true"
      [globalFilterFields]="['name', 'licence_plate', 'max_weight']"
      [tableStyle]="{'min-width': '70rem'}" [(selection)]="selectedCars"
      [rowHover]="true" dataKey="id"
      currentPageReportTemplate="{last} gépjármű látszik a {totalRecords} közül"
      [showCurrentPageReport]="true" sortField="name"
      [sortOrder]="defaultSortOrder">
      <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
          <h5 class="m-0">Gépjárművek kezelése</h5>
          <span class="p-input-icon-left">
            <button pButton [label]="Clear" class="p-button-outlined"
              icon="pi pi-filter-slash" (click)="clear(dt1)"></button>
            <span>
              <i class="pi pi-search m-3"></i>
              <input pInputText type="text"
                (input)="dt1.filterGlobal($any($event.target).value, 'contains')"
                [placeholder]="Search" />

            </span>
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 3rem">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th pSortableColumn="name" style="min-width:10rem">
            Típus
            <p-sortIcon field="name"></p-sortIcon>
            <p-columnFilter field="name" matchMode="equals"
              [showMatchModes]="false" [showAddButton]="false"
              [showApplyButton]="false" [showClearButton]="true" display="menu"
              class="ml-auto">
              <ng-template pTemplate="filter" let-value
                let-filter="filterCallback">
                <p-dropdown [ngModel]="value" [options]="carNames"
                  (onChange)="filter($event.value)" placeholder="Jármű típusa">
                  <ng-template let-option pTemplate="item">
                    <span>{{option}}</span>
                  </ng-template>
                </p-dropdown>
              </ng-template>
            </p-columnFilter>
          </th>
          <th pSortableColumn="licence_plate" style="min-width:10rem">Rendszám
            <p-sortIcon field="licence_plate"></p-sortIcon>
          </th>
          <th pSortableColumn="max_weight" style="min-width:10rem">Összsúly
            <p-sortIcon field="max_weight"></p-sortIcon>
          </th>
          <th style="width: 9rem"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-car>
        <tr>
          <td>
            <p-tableCheckbox [value]="car"></p-tableCheckbox>
          </td>
          <td>{{car.name}}</td>
          <td>{{car.licence_plate}}</td>
          <td>{{car.max_weight}}</td>
          <td>
            <!-- <button pButton pRipple icon="pi pi-pencil"
              class="p-button-rounded p-button-success mr-2"
              [routerLink]="['/users/', user.id]"></button> -->
            <button pButton pRipple icon="pi pi-pencil" id="editCarDialog"
              class="p-button-rounded p-button-success mr-2"
              (click)="openEditDialog($event, car)"></button>
            <button pButton pRipple icon="pi pi-trash"
              class="p-button-rounded p-button-warning"
              (click)="deleteCar(car)"></button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        <div class="flex align-items-center justify-content-between">
          Összesen {{carsSignal().length}}db jármű lett rögzítve.
        </div>
      </ng-template>
    </p-table>
  </div>
</div>

<p-dialog [(visible)]="dialogs['newCarDialog']"
  [style]="{width: 'auto', height: '547px'}" header="Új gépjármű" [modal]="true"
  styleClass="p-fluid">
  <ng-template pTemplate="footer">
    <button pButton pRipple label="Mégse" icon="pi pi-times"
      class="p-button-text" (click)="hideDialog()"></button>
    <button pButton pRipple label="Mentés" icon="pi pi-check"
      class="p-button-text" (click)="newCar()"></button>
  </ng-template>
  <!-- <app-user-creator (getUsers)="getUsers()"></app-user-creator> -->
</p-dialog>

<p-dialog [(visible)]="dialogs['editCarDialog']"
  [style]="{width: 'auto', height: '547px'}" header="Jármű adatai"
  [modal]="true" styleClass="p-fluid">
  <ng-template pTemplate="footer">
    <button pButton pRipple label="Mégse" icon="pi pi-times"
      class="p-button-text" (click)="hideDialog()"></button>
    <button pButton pRipple label="Mentés" icon="pi pi-check"
      class="p-button-text" (click)="editCar()"></button>
  </ng-template>
  <!-- <app-user-editor></app-user-editor> -->
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>