<p-toast></p-toast>

<!-- <pre>{{journals$ | async | json}}</pre>
<pre>{{users$ | async | json}}</pre> -->

<!-- <div class="signalized" *ngIf="journalsSignal()">
  {{thisMonthFirstDay | date:'YYYY.MM.dd. hh:mm:ss'}}
  <div *ngFor="let journal of journalsSignal()">
    <div class="div">{{journal.person_on_duty_name}}</div>
  </div>
  {{journalCount()}}
</div> -->
<!-- <div class="jr" *ngIf="journalRes()">{{journalRes().count}}</div> -->

<!-- <pre>
  <div class="store" *ngFor="let data of storeData()">
    disp:
    <div class="shift" *ngFor="let shift of data.dispersion">
      {{shift.man.name}}
    </div>
  </div>
  act:
  {{storeActualPage()}}
  tot:
  {{storeJournalCount()}}
</pre> -->


<div class="card">
  <p-toolbar styleClass="mb-4 gap-2">
    <ng-template pTemplate="left">
      <button pButton pRipple [label]="NewJournal" id="journalDialog"
        icon="pi pi-plus" class="p-button-success mr-2"
        (click)="openDialog($event)"></button>
      <button pButton pRipple [label]="NewWorker" id="userDialog"
        icon="pi pi-plus" class="p-button-warning mr-2"
        (click)="openDialog($event)"></button>
    </ng-template>

    <ng-template pTemplate="right">
      <button pButton pRipple [label]="Delete" icon="pi pi-trash"
        class="p-button-danger mr-2"
        (click)="deleteSelectedJournals(selectedJournals)"
        [disabled]="!selectedJournals || !selectedJournals.length"></button>
      <!-- <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000"
        label="Import" [chooseLabel]="Import" class="mr-2 inline-block">
      </p-fileUpload> -->
      <!-- <button pButton pRipple [label]="Export" icon="pi pi-upload"
        class="p-button-help"></button> -->
    </ng-template>
  </p-toolbar>

  <div class="spinner" *ngIf="storeActualPage() === 0">
    <div class="card flex justify-content-center">
      <p-progressSpinner styleClass="w-4rem h-4rem" strokeWidth="8"
        fill="var(--surface-ground)"
        animationDuration=".2s"></p-progressSpinner>
    </div>
  </div>

  <div class="asyncDiv" *ngIf="storeActualPage() !== 0">
    <p-table #dt [value]="storeData()" [rows]="pageSize" [paginator]="true"
      [globalFilterFields]="['date_start', 'person_on_duty.name', 'comments']"
      [tableStyle]="{'min-width': '70rem'}" [(selection)]="selectedJournals"
      [rowHover]="true" dataKey="id"
      currentPageReportTemplate="{last} bejegyzés látszik a {totalRecords} közül"
      [showCurrentPageReport]="true" sortField="date_start"
      [sortOrder]="defaultSortOrder">
      <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
          <h5 class="m-0">Naplók kezelése</h5>
          <span class="p-input-icon-left">

            <p-calendar *ngIf="!mobile" dateFormat="yy. MM" [showIcon]="true"
              view="month" [readonlyInput]="true" [hideOnDateTimeSelect]="true"
              [(ngModel)]="interval" placeholder="Válassz hónapot"
              (onSelect)="selectInterval()">
            </p-calendar>
            <p-calendar *ngIf="mobile" dateFormat="yy. MM" [showIcon]="true"
              view="month" [readonlyInput]="true" [touchUI]="true"
              [hideOnDateTimeSelect]="true" [(ngModel)]="interval"
              placeholder="Válassz hónapot" (onSelect)="selectInterval()">
            </p-calendar>
            <span>
              <i class="pi pi-search m-3"></i>
              <input pInputText type="text"
                (input)="dt.filterGlobal($any($event.target).value, 'contains')"
                [placeholder]="Search" />

            </span>
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 3rem">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th pSortableColumn="date_start" style="width:15rem">Dátum <p-sortIcon
              field="date_start"></p-sortIcon>
          </th>
          <th pSortableColumn="person_on_duty.last_name" style="min-width:5rem">
            Ügyeletvezető
            <p-sortIcon field="person_on_duty.last_name"></p-sortIcon>
            <p-columnFilter field="person_on_duty.last_name" matchMode="equals"
              [showMatchModes]="false" [showAddButton]="false"
              [showApplyButton]="false" [showClearButton]="true" display="menu"
              class="ml-auto">
              <ng-template pTemplate="filter" let-value
                let-filter="filterCallback">
                <p-dropdown [ngModel]="value" [options]="userNames"
                  (onChange)="filter($event.value)" placeholder="Dolgozó neve">
                  <ng-template let-option pTemplate="item">
                    <span>{{option}}</span>
                  </ng-template>
                </p-dropdown>
              </ng-template>
            </p-columnFilter>
          </th>
          <th pSortableColumn="comments" style="min-width:10rem">Megjegyzések
            <p-sortIcon field="comments"></p-sortIcon>
          </th>
          <!-- <th style="width: 9rem"></th> -->
          <th style="width: 9rem"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-journal>
        <tr>
          <td>
            <p-tableCheckbox [value]="journal"></p-tableCheckbox>
          </td>
          <td>{{journal.date_start}}</td>
          <td>{{journal.person_on_duty.name}}</td>
          <!-- <td *ngIf="journal.comments.length > 1">
            {{journal.comments[journal.comments.length - 1][0]}}:
            {{journal.comments[journal.comments.length - 1][1]}}</td>
          <td> -->
          <!-- <td *ngIf="journal.comments.length <= 1"></td> -->
          <td *ngIf="journal.comments.length >= 1">
            {{journal.comments[journal.comments.length -1].comment}}</td>
          <td *ngIf="journal.comments.length == 0">-</td>
          <td>
            <button pButton pRipple icon="pi pi-pencil"
              class="p-button-rounded p-button-success mr-2"
              [routerLink]="['/viewer', journal.id]"></button>
            <button pButton pRipple icon="pi pi-trash"
              class="p-button-rounded p-button-warning"
              (click)="deleteJournal(journal.id, journal.date_start)"></button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        <div class="flex align-items-center justify-content-between">
          Összesen {{storeJournalCount()}}db
          napló lett
          rögzítve.
        </div>
      </ng-template>
    </p-table>
  </div>
</div>

<p-dialog [(visible)]="dialogs['journalDialog']"
  [style]="{width: 'auto', height: 'auto'}" header="Ügyeleti napló"
  [modal]="true" styleClass="p-fluid">
  <ng-template pTemplate="footer">
    <button pButton pRipple label="Mégse" icon="pi pi-times"
      class="p-button-warning p-button-text" (click)="hideDialog()"></button>
    <button pButton pRipple label="Mentés" icon="pi pi-check"
      class="p-button-outlined p-button-success"
      (click)="saveJournal()"></button>
  </ng-template>
  <app-journal-creator></app-journal-creator>
</p-dialog>

<p-dialog [(visible)]="dialogs['userDialog']"
  [style]="{width: 'auto', height: 'auto'}" header="Új dolgozó" [modal]="true"
  styleClass="p-fluid">
  <ng-template pTemplate="footer">
    <button pButton pRipple label="Mégse" icon="pi pi-times"
      class="p-button-warning p-button-text" (click)="hideDialog()"></button>
    <button pButton pRipple label="Mentés" icon="pi pi-check"
      class="p-button-outlined p-button-success"
      (click)="saveWorker()"></button>
  </ng-template>
  <app-worker-creator></app-worker-creator>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>