<p-toast></p-toast>

<div class="card">
  <p-toolbar styleClass="mb-4 gap-2">
    <ng-template pTemplate="left">
      <button pButton pRipple [label]="NewJournal" id="journalDialog"
        icon="pi pi-plus" class="p-button-success mr-2"
        (click)="openDialog($event)"></button>
      <button pButton pRipple [label]="NewWorker" id="userDialog"
        icon="pi pi-plus" class="p-button-warning mr-2"
        (click)="openDialog($event)"></button>
    </ng-template>

    <ng-template pTemplate="right">
      <button pButton pRipple [label]="Delete" icon="pi pi-trash"
        class="p-button-danger mr-2"
        (click)="deleteSelectedJournals(selectedJournals)"
        [disabled]="!selectedJournals || !selectedJournals.length"></button>
      <!-- <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000"
        label="Import" [chooseLabel]="Import" class="mr-2 inline-block">
      </p-fileUpload> -->
      <button pButton pRipple [label]="Export" icon="pi pi-upload"
        class="p-button-help"></button>
    </ng-template>
  </p-toolbar>

  <div class="asyncDiv" *ngIf="journals$ | async as journalsArr">
    <p-table #dt [value]="journalsArr" [rows]="10" [paginator]="true"
      [globalFilterFields]="['date', 'worker.full_name', 'comment']"
      [tableStyle]="{'min-width': '70rem'}" [(selection)]="selectedJournals"
      [rowHover]="true" dataKey="_id"
      currentPageReportTemplate="{last} bejegyzés látszik a {totalRecords} közül"
      [showCurrentPageReport]="true" sortField="date"
      [sortOrder]="defaultSortOrder">
      <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
          <h5 class="m-0">Naplók kezelése</h5>
          <span class="p-input-icon-left">
            <!-- <i class="pi pi-search"></i>
            <input pInputText type="text"
              (input)="dt.filterGlobal($event.target, 'contains')"
              [placeholder]="Search" /> -->

            <p-calendar dateFormat="yy.MM.dd" [showIcon]="true"
              selectionMode="range" [readonlyInput]="true"
              [(ngModel)]="interval" placeholder="Válassz időintervallumot"
              (onSelect)="selectInterval()">
            </p-calendar>
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 3rem">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th pSortableColumn="date" style="width:15rem">Dátum <p-sortIcon
              field="date"></p-sortIcon>
          </th>
          <th pSortableColumn="worker.full_name" style="min-width:10rem">
            Ügyeletvezető
            <p-sortIcon field="worker.full_name"></p-sortIcon>
            <p-columnFilter field="worker.full_name" matchMode="equals"
              [showMatchModes]="false" [showAddButton]="false"
              [showApplyButton]="false" [showClearButton]="true" display="menu"
              class="ml-auto">
              <ng-template pTemplate="filter" let-value
                let-filter="filterCallback">
                <p-dropdown [ngModel]="value" [options]="userNames"
                  (onChange)="filter($event.value)" placeholder="Dolgozó neve">
                  <ng-template let-option pTemplate="item">
                    <span>{{option}}</span>
                  </ng-template>
                </p-dropdown>
              </ng-template>
            </p-columnFilter>
          </th>
          <th pSortableColumn="comment" style="min-width:10rem">Megjegyzések
            <p-sortIcon field="comment"></p-sortIcon>
          </th>
          <th style="width: 9rem"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-journal>
        <tr>
          <td>
            <p-tableCheckbox [value]="journal"></p-tableCheckbox>
          </td>
          <td>{{journal.date}}</td>
          <td>{{journal.worker.full_name}}</td>
          <td>{{journal.comment[journal.comment.length - 1][0]}}:
            {{journal.comment[journal.comment.length - 1][1]}}</td>
          <td>
            <button pButton pRipple icon="pi pi-pencil"
              class="p-button-rounded p-button-success mr-2"
              [routerLink]="['/viewer', journal._id]"></button>
            <button pButton pRipple icon="pi pi-trash"
              class="p-button-rounded p-button-warning"
              (click)="deleteJournal(journal._id, journal.date)"></button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        <div class="flex align-items-center justify-content-between">
          Összesen {{journalsArr ? journalsArr.length : 0 }}db napló lett
          rögzítve.
        </div>
      </ng-template>
    </p-table>
  </div>
</div>

<p-dialog [(visible)]="dialogs['journalDialog']"
  [style]="{width: '600px', height: '547px'}" header="Ügyeleti napló"
  [modal]="true" styleClass="p-fluid">
  <ng-template pTemplate="footer">
    <button pButton pRipple label="Mégse" icon="pi pi-times"
      class="p-button-text" (click)="hideDialog()"></button>
    <button pButton pRipple label="Mentés" icon="pi pi-check"
      class="p-button-text" (click)="saveJournal()"></button>
  </ng-template>
  <app-journal-creator></app-journal-creator>
</p-dialog>

<p-dialog [(visible)]="dialogs['userDialog']"
  [style]="{width: '600px', height: '547px'}" header="Ügyeleti napló"
  [modal]="true" styleClass="p-fluid">
  <ng-template pTemplate="footer">
    <button pButton pRipple label="Mégse" icon="pi pi-times"
      class="p-button-text" (click)="hideDialog()"></button>
    <button pButton pRipple label="Mentés" icon="pi pi-check"
      class="p-button-text" (click)="saveUser()"></button>
  </ng-template>
  <app-user-creator></app-user-creator>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>