<div class="col-12" [formGroup]="shiftForm">
  <div class="p-fluid p-formgrid grid">
    <div class="field col-12 md:col-6">
      <p-dropdown [options]="users" optionLabel="full_name" [filter]="true"
        filterBy="full_name" [showClear]="true" placeholder="Válassz ügyeletest"
        formControlName="onDuty" (onChange)="workerSelected()">
        <ng-template pTemplate="selectedItem">
          <div class="worker-item worker-item-value" *ngIf="worker">
            <div>{{worker.full_name}}</div>
          </div>
        </ng-template>
        <ng-template let-worker pTemplate="item">
          <div class="worker-item">
            <div>{{worker.full_name}}</div>
          </div>
        </ng-template>
      </p-dropdown>
      <small class="p-error block"
        *ngIf="shiftForm.get('onDuty')?.invalid">Dolgozó felvitele
        kötelező</small>
    </div>
    <div class="field col-12 md:col-6">
      <p-calendar *ngIf="!mobile" dateFormat="yy.MM.dd" [showIcon]="true"
        inputId="icon" formControlName="date"
        placeholder="Mai dátum, vagy válassz másikat">
      </p-calendar>
      <p-calendar *ngIf="mobile" dateFormat="yy.MM.dd" [showIcon]="true"
        inputId="icon" formControlName="date" [touchUI]="true"
        [readonlyInput]="true" placeholder="Mai dátum, vagy válassz másikat">
      </p-calendar>
    </div>

    <div class="field col-6">
      <label for="daytime"><b>Műszak:</b></label>
      <p-selectButton formControlName="daytime" [options]="daytimeOptions"
        optionLabel="label" optionValue="value" id="daytime"
        [ngClass]="shiftForm.value.daytime.valid ? '' : 'ng-invalid ng-dirty'" />
      <small class="p-error block"
        *ngIf="shiftForm.get('daytime')?.invalid">Műszak felvitele
        kötelező</small>
    </div>
    <div class="field col-6">
      <label for="machine"><b>Gép:</b></label>
      <p-dropdown formControlName="machine" id="machine" [options]="machines"
        optionLabel="name" optionValue="name" placeholder="Munkagép" />
    </div>
    <div class="field col-6 md:col-3">
      <label for="salt"><b>Só:</b></label>
      <p-inputNumber suffix=" t" [showButtons]="true" buttonLayout="horizontal"
        spinnerMode="horizontal" decrementButtonClass="p-button-danger"
        incrementButtonClass="p-button-success" incrementButtonIcon="pi pi-plus"
        decrementButtonIcon="pi pi-minus" inputId="salt"
        formControlName="salt" />
    </div>
    <div class="field col-6 md:col-3">
      <label for="basalt"><b>Bazalt:</b></label>
      <p-inputNumber suffix=" t" [showButtons]="true" buttonLayout="horizontal"
        spinnerMode="horizontal" decrementButtonClass="p-button-danger"
        incrementButtonClass="p-button-success" incrementButtonIcon="pi pi-plus"
        decrementButtonIcon="pi pi-minus" inputId="salt"
        formControlName="basalt" />
    </div>
    <div class="field col-6 md:col-3">
      <label for="cacl2"><b>CaCl2:</b></label>
      <p-inputNumber suffix=" t" [showButtons]="true" buttonLayout="horizontal"
        spinnerMode="horizontal" decrementButtonClass="p-button-danger"
        incrementButtonClass="p-button-success" incrementButtonIcon="pi pi-plus"
        decrementButtonIcon="pi pi-minus" inputId="cacl2"
        formControlName="cacl2" />
    </div>
    <div class="field col-6 md:col-3">
      <label for="cacl2"><b>Kalcinol:</b></label>
      <p-inputNumber suffix=" l" [showButtons]="true" buttonLayout="horizontal"
        spinnerMode="horizontal" decrementButtonClass="p-button-danger"
        incrementButtonClass="p-button-success" incrementButtonIcon="pi pi-plus"
        decrementButtonIcon="pi pi-minus" inputId="kalcinol"
        formControlName="kalcinol" />
    </div>
    <div class="field col-6 md:col-3">
      <label for="cacl2"><b>Keverék:</b></label>
      <p-inputNumber suffix=" t" [showButtons]="true" buttonLayout="horizontal"
        spinnerMode="horizontal" decrementButtonClass="p-button-danger"
        incrementButtonClass="p-button-success" incrementButtonIcon="pi pi-plus"
        decrementButtonIcon="pi pi-minus" inputId="mixture"
        formControlName="mixture" />
    </div>
    <div class="field col-6 md:col-3">
      <label for="cacl2"><b>Zeokal:</b></label>
      <p-inputNumber suffix=" t" [showButtons]="true" buttonLayout="horizontal"
        spinnerMode="horizontal" decrementButtonClass="p-button-danger"
        incrementButtonClass="p-button-success" incrementButtonIcon="pi pi-plus"
        decrementButtonIcon="pi pi-minus" inputId="zeokal"
        formControlName="zeokal" />
    </div>
    <div class="field col-6 md:col-3">
      <label for="cacl2"><b>km:</b></label>
      <p-inputNumber suffix=" km" [showButtons]="true" buttonLayout="horizontal"
        spinnerMode="horizontal" decrementButtonClass="p-button-danger"
        incrementButtonClass="p-button-success" incrementButtonIcon="pi pi-plus"
        decrementButtonIcon="pi pi-minus" inputId="km" formControlName="km" />
    </div>
    <div class="field col-6 md:col-3">
      <label for="cacl2"><b>Üzemóra:</b></label>
      <p-inputNumber suffix="" [showButtons]="true" buttonLayout="horizontal"
        spinnerMode="horizontal" decrementButtonClass="p-button-danger"
        incrementButtonClass="p-button-success" incrementButtonIcon="pi pi-plus"
        decrementButtonIcon="pi pi-minus" inputId="workHour"
        formControlName="workHour" />
      <small class="p-error block" *ngIf="shiftForm.get('workHour')?.invalid || 
        shiftForm.get('workHour')?.dirty && 
        shiftForm.value.workHour === 0">Munkaóra felvitele kötelező</small>
    </div>
    <div class="field col-6 md:col-3">
      <label for="cacl2"><b>Elrendelt szórási mennyiség:</b></label>
      <p-inputNumber suffix=" g/m2" [showButtons]="true"
        buttonLayout="horizontal" spinnerMode="horizontal"
        decrementButtonClass="p-button-danger"
        incrementButtonClass="p-button-success" incrementButtonIcon="pi pi-plus"
        decrementButtonIcon="pi pi-minus" inputId="orderedQuantity"
        formControlName="orderedQuantity" />
    </div>
  </div>
</div>