<div class="" [formGroup]="userForm" [style]="{width: '400px', height: 'auto'}">
  <div class="p-field field col-12">
    <span class="p-float-label">
      <input pInputText id="first_name" type="text"
        formControlName="first_name" />
      <label for="first_name">Vezetéknév</label>
    </span>
  </div>
  <div class="p-field field col-12">
    <span class="p-float-label">
      <input pInputText id="last_name" type="text"
        formControlName="last_name" />
      <label for="last_name">Keresztnév</label>
    </span>
  </div>
  <div class="p-field field col-12">
    <span class="p-float-label">
      <input pInputText id="email" type="text" formControlName="email" />
      <label for="email">e-mail cím</label>
    </span>
  </div>
  <div class="p-field field col-12">
    <!-- <span class="p-float-label">
      <input pInputText id="role" type="text" formControlName="role" />
      <label for="role">Beosztás</label>
    </span> -->
    <p-dropdown formControlName="role" id="role" optionLabel="name"
      placeholder="Beosztás" [options]="roles"></p-dropdown>
  </div>
  <div class="p-field field col-12">
    <span class="p-float-label flex justify-content-center">
      <p-inputSwitch id="active" formControlName="active">
      </p-inputSwitch>
      <label for="active">Aktív</label>
    </span>

  </div>
  <div class="field col-12">

  </div>
</div>